---
import Section from '../Section.astro'
import { certificates } from '@mycvdata'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

---

<Section className={Astro.props.className} title="Certificates">
  <small class="text-skin-muted ms-1 -mt-5 print:hidden">Links are available here, click to verify the certificate.</small>
  <ul class="flex flex-col">
    {certificates.map(({ category, list }) => {

      return (
        <li class="relative print:py-2">
          <div data-expanded="false" class="group relative grid pb-1 print:pb-0 transition-all print:grid-cols-1 print:gap-1 sm:grid-cols-12 sm:gap-8 md:gap-6 lg:hover:!opacity-100 expand-container">
            {/* <div class="relative mt-1 text-xs font-semibold sm:col-span-2">timeline</div> */}

            <div class="relative flex flex-col pb-6 print:pb-0 before:-ml-6 sm:col-span-10 before:w-px print:before:hidden before:absolute before:bg-skin-muted before:h-full before:mt-2">
              <div class="absolute w-2 h-2 bg-skin-muted rounded-full mt-2 -translate-x-[1.71rem] ring print:hidden ring-skin-fill"></div>

              <div class="mt-4  print:gap-0 flex flex-col gap-4 print:text-xs text-sm">
                {category && (
                  <h4 class="print:font-bold print:pt-1 text-nowrap" data-ccursor="lift">{category}: {list.length > 0 && (<small>({list.length} certificates)</small>)}</h4>
                  <ul class="flex print:hidden flex-wrap gap-2" aria-label={category}>
                    {list && list.map(({icon, title, url, imageSrc}) => (
                        <li data-ccursor="lift" class="bg-skin-button-accent/20 border-skin-hue/20 text-skin-hue print:p-0 print:bg-transparent print:text-zinc-800 flex gap-1 items-center border-solid print:border-none border rounded-md px-2 py-1 text-xs backdrop-blur-sm select-none">
                          {imageSrc ? (
                            <a
                              href={url ? url : '/'}
                              target="_blank"
                              rel="noreferrer noopener"
                              aria-label={`${title} (opens in a new tab)`}
                              data-umami-event={`${title} click`}
                            >
                              <figure class='print:hidden'>
                                {imageSrc && (<Image
                                  class='scale-100 w-64'
                                  height={376}
                                  width={408}}
                                  src={imageSrc}
                                  alt={title}
                                  loading='lazy' />)}
                              </figure>
                            </a>
                          ) : (
                            <a
                              class="flex"
                              href={url ? url : '/'}
                              target="_blank"
                              rel="noreferrer noopener"
                              aria-label={`${title} (opens in a new tab)`}
                              data-umami-event={`${title} click`}
                            >
                              {icon && <Icon name={icon} width={16} height={16} />} <span class="ms-1">{title}</span>
                            </a>
                          )}
                        </li>
                      )
                    )}
                  </ul>
                )}
              </div>
            </div>
          </div>
        </li>
      )
    })}
  </ul>
</Section>
<script>

</script>
<style>
  li::marker {
    @apply text-skin-hue;
  }
  h4 {
    @apply max-w-min px-2 sm:hover:text-skin-hue;
  }
</style>
