---
import { basics } from '@mycvdata'
import Section from '@/components/Section.astro'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
const { name, secondary_label, main_label, image, image_bg, location, email, phone, last_updated } = basics
const { region, country } = location
---

<Section className={Astro.props.className}>
  <div class="min-w-[275px]">
    <section
      id="about"
      aria-label="About me"
      class="group flex gap-2 flex-col rounded-md p-4 transition-all print:gap-0 print:p-2"
    >
      <div
        class="flex items-center text-center gap-4 print:gap-1"
      >
        <figure class='print:hidden'>
          {image_bg && (<Image
            class='absolute scale-100 -mt-12 -ms-4 max-h-24'
            height={101}
            width={408}}
            src={image_bg}
            alt="Profile background"
            loading='eager' />)}
          {image && (<Image
            class='profile -mt-4 scale-110 sm:scale-100 transition-all sm:group-hover:scale-110 sm:group-hover:grayscale border-gray-75 border-2'
            height={100}
            width={100}
            src={image}
            alt={`Profile of ${name}`}
            loading='eager' />)}
        </figure>
        <div class="flex flex-col items-center mt-16 md:-ms-4 md:mt-16">
          <h3 class="font-semibold font-roboto-condensed text-xl z-10">{name}</h3>
          <div class="overflow-hidden -mt-1">
            <div class="font-roboto-condensed font-bold lowercase text-xl lg:text-[1rem] lg:leading-[1rem]">
              <div data-ccursor="lift"  class="text-nowrap md:text-sm text-skin-hue p-1 group/subtitle relative flex gap-1 transition-all">
                <p class="font-roboto-condensed font-medium text-md lg:text-[1rem] lg:leading-[1rem]">
                  {secondary_label}
                </p>
                <!-- <div class="absolute inset-x-0 top-0 w-max translate-y-16 transition-all duration-450 ease-in-out group-hover/subtitle:translate-y-0">
                  <p class="font-roboto-condensed font-bold lowercase text-xl lg:text-[1rem] lg:leading-[1rem] bg-clip-text ">
                    {other_label}
                  </p>
                </div> -->
                <p class="text-sm lg:text-lg">{main_label} ✨</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-ccursor="noPadding" class='flex w-max gap-2 py-0 px-2 mt-2 text-sm text-skin-muted'>
        <Icon class='print:hidden sm:group-hover:text-skin-hue' name='mdi:address-marker-outline' width={20} height={20} />
        {region}, {country}
      </div>
      <div data-ccursor="noPadding" class='flex w-max gap-2 py-0 px-2 text-sm text-skin-muted'>
        <a
          data-ccursor
          class="flex"
          href={`mailto:${email}`}
          target="_blank"
          rel="noreferrer noopener"
          aria-label="Email (opens in a new tab)"
          data-umami-event="Email click"
          id="Email"
        >
          <Icon class='print:hidden sm:group-hover:text-skin-hue me-2' name='mdi:email-outline' width={20} height={20} />
          {email}
        </a>
      </div>
      {phone && (
        <div class="flex w-max gap-2 py-0 px-2 text-sm text-skin-muted">
          <Icon class='print:hidden sm:group-hover:text-skin-hue' name='mdi:phone-outline' width={20} height={20} />
          {phone}
        </div>
      )}
      <div class='print:hidden flex group/social w-max gap-2 py-1 px-1 text-sm text-skin-muted'>
        {
          basics.profiles.map(({network, url, icon, color}) => {
            return (
              <a
                data-ccursor
                class="flex flex-col sm:basis-1/2 items-center justify-center rounded-md"
                href={url ? url : '/'}
                target="_blank"
                rel="noreferrer noopener"
                aria-label={`${network} (opens in a new tab)`}
                data-umami-event={`${network} click`}
                id={network}
              >
                <Icon name={icon} width={28} height={28} class='sm:grayscale sm:group-hover/social:grayscale-0 transition-all' style=`color: ${color};` aria-label={network}/>
              </a>
            )
          })
        }
      </div>
      <div data-ccursor="lift" class='flex w-max gap-2 py-0 px-2 text-sm text-skin-muted'><small>Last updated: <b>{last_updated}</b></small></div>
    </section>
  </div>
</Section>

<style>
  .info {
    @apply print:gap-0 print:pr-0;
    
    footer {
      @apply flex gap-4;
    }
  }

  h1 {
    @apply text-4xl font-bold print:text-3xl;
  }

  h2 {
    @apply text-balance text-base text-skin-muted print:text-lg;
  }

  img.profile {
    @apply aspect-square w-32 rounded-full bg-cover;
  }

  span {
    @apply flex items-center gap-1 text-xs text-skin-hue;
  }

  footer {
    @apply flex gap-1;
  }
  

  @media (width <= 700px) {
    .container {
      flex-direction: column-reverse;
    }

    .info {
      @apply pr-0 md:items-center md:justify-center;
    }

    figure {
      @apply flex md:items-center md:justify-center;
    }

    h2 {
      text-wrap: balance;
    }

    figure {
      @apply md:mx-auto;
    }
  }
</style>

<script>
  const select = document.getElementById('themeSwitch') as HTMLSelectElement
  const theme = localStorage.getItem('theme')
  const systemTheme = window.matchMedia('(prefers-color-scheme: dark)').matches
    ? 'dark'
    : 'light'

  if (theme !== null) {
    select.value = theme
  } else {
    select.value = systemTheme
  }

  function updateTheme(value: string) {
    const theme = value === 'system' ? systemTheme : value
    document.documentElement.classList.remove('light', 'dark')
    document.documentElement.classList.add(theme)
    localStorage.setItem('theme', value)
  }

  updateTheme(select.value)

  select.addEventListener('change', (event: Event) => {
    const select = event.target as HTMLSelectElement
    updateTheme(select.value)
  })

  // Disable dark mode before printing
  window.addEventListener('beforeprint', () => {
    document.documentElement.classList.remove('dark')
  })

  // Restore dark mode after printing
  window.addEventListener('afterprint', () => {
    if (
      select.value === 'dark' ||
      (select.value === 'system' && systemTheme === 'dark')
    ) {
      document.documentElement.classList.add('dark')
    }
  })
</script>
